@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");

:root {
  --clr-background: rgb(247, 244, 244);
  --clr-gray: rgb(119, 114, 114);
  --font-main: "Caudex", serif;
  --clr-dark-gray: #262626;
  --clr-dark-black: #121212;
  --clr-dark-text: rgb(226, 225, 225);
}

body {
  font-family: var(--font-main);
  margin: 0 auto;
  height: 100vh !important;
  
}

.welcomePage{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fff;
}
.welcome-mainBody{
height: 400px;
width: 450px;
background: rgba(150, 150, 150, 0.05);
box-shadow: 0 5px 5px 0 rgba( 31, 38, 135, 0.25 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
